body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #ffcccc;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: green;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: orange;
}

.dev {
  text-decoration: underline;
}
